/* Estilos generales */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1001; /* Para que esté sobre el panel */
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 0.9em;
    opacity: 0.8;
}

main {
    display: flex;
    flex-grow: 1; /* Ocupa el espacio restante */
    position: relative; /* Para posicionar el panel */
    overflow: hidden;
}

/* Estilo del contenedor del mapa */
#map {
    width: 100%;
    height: 100%;
}

/* Estilo del panel de información */
#info-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px; /* Un poco más ancho para los datos */
    max-width: 90%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Para que esté sobre el mapa pero debajo del header */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out; /* Animación de entrada/salida */
}

/* Clase para ocultar el panel (lo mueve fuera de la pantalla) */
#info-panel.panel-oculto {
    transform: translateX(-100%);
}

#info-panel h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #0056b3;
}

#info-panel p {
    font-size: 0.9em;
}

#info-panel hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

#info-details p {
    display: flex;
    flex-direction: column; /* Cambiado para mostrar etiqueta arriba y valor abajo */
    justify-content: space-between;
    margin: 12px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    font-size: 0.85em;
    color: #666;
}

#info-details p span, #info-details ul {
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
    margin-top: 4px;
}

/* Botón para cerrar el panel */
#close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

#close-btn:hover {
    color: #000;
}


.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.logo-header {
    height: 60px; /* Ajusta según el tamaño de tu logo */
    width: auto;
}

#filtros {
    background: #f0f5fb;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap; /* Para que se adapte en pantallas pequeñas */
    border-bottom: 1px solid #ddd;
}